body{
	font-family: Montserrat;
	font-size: 15px;
	color: #727272;
	line-height: 1.47em;
	margin: 0px;
	padding:0px;
}


.top-nav{
	max-width: 100%;
	height: 45px;
	background: #333333;
	margin: 0px;
	padding: 0px;
}

.main{
	max-width: 100%;
	height: 90%;
	background-image: url("../images/main.png");
	margin: 0px;
	padding: 0px;
	position: fixed;
	background-size: cover;
}

/* CSS for navigation */
.nav{
	height: 94px;
}

.brand img{
	width: 180px;
}
.menu {
	float: right;
	color: #222222;
	font-size: 13px;
	text-transform: uppercase;
	font-weight: 800;
}

.menu ul{
	list-style-type: none;
}

.menu li{
	display: inline-block;
	padding-left: 40px;
	padding-top: 18px;
}

.menu li a{
	text-decoration: none;
	color: #222222;
}

.menu li a:hover{
	color: #00c8c8;
}

.menu li a:active{
	color: #00c8c8;
}


.store-items{
	color: #f8f8f8;
	height: 500px;
}

.store{
	height: 800px;
	background: #fcfcfc;
}